@model Advertisement
@{
	ViewData["Title"] = "Home Page";
}


<div class="text-center py-5">
	<h1 class="display-4"></h1>
	@if (Model == null)
	{
		<div class="card-body">
			<p>Извините, товар не найден</p>
		</div>
	}
	else
	{
		<div class="row">
			<div class="col-6">
				<img class="card-img-top" href="@Model.Image" src="@Model.Image" alt="24" />
			</div>
			<div class="col-6 py-2">
				<div class="row">
					<div class="text-left">
						<h2>@Model.Title</h2>
						<p class="font-weight-light">Автор:@Model.User.Name</p>
						<p class="font-italic">@Model.Text</p>
					</div>
				</div>
				@if (ViewBag.Role == "Admin")
				{
					<div class="text-left">
						<div class="btn-group-vertical" role="group" aria-label="Basic example">
							@if (Model.IsAvailable == false)
							{
								<a type="button" class="btn btn-dark" asp-area="" asp-controller="Advertisment" asp-action="ChangeAvailable" asp-route-id="@Model.Id">Открыть в общий доступ</a>
							}
							else
							{
								<a type="button" class="btn btn-dark" asp-area="" asp-controller="Advertisment" asp-action="ChangeAvailable" asp-route-id="@Model.Id">Скрыть</a>
							}
							<a type="button" class="btn btn-primary" asp-area="" asp-controller="Advertisment" asp-action="Delate" asp-route-id="@Model.Id">Удалить</a>
						</div>
					</div>
				}
			</div>
		</div>
	}
</div>