@using AdvertismentTask.Models
@{
	ViewData["Title"] = "Home Page";
}
@model IEnumerable<Advertisement>
<h1>Список пользователей</h1>
<table class="table">
	<thead>
		<tr>
			<th scope="col">
				<a asp-action="CheckAdvertisment" asp-route-sortOrder="@ViewBag.TitleSort">
					Заголовк
				</a>
			</th>
			<th scope="col">
				<a asp-action="CheckAdvertisment" asp-route-sortOrder="@ViewBag.TextSort">
					Длина текста
				</a>
			</th>
			<th scope="col">
				<a asp-action="CheckAdvertisment" asp-route-sortOrder="@ViewBag.DateSort">
					Дата создания
				</a>
			</th>
			<th scope="col">
				<a asp-action="CheckAdvertisment" asp-route-sortOrder="@ViewBag.DateSort">
					Проверенно
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Advertisement u in Model)
		{
			<tr><td><a asp-controller="Advertisment" asp-action="AdvertismentCard" asp-route-id=@u.Id>@u.Title</a></td><td>@u.Text</td><td>@u.CreationDate.ToShortDateString()</td></tr>
		}
	</tbody>
</table>